footer{
    height: 392px;
    background-color: #030303;
}
ul{
    list-style-type: none;
}
.footer-navbar{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
}
.footer-link ul{
    display: flex;
}