.contacts {
  color: black;
  margin-bottom: 74px;
  h2 {
    color: #9d8665;
    margin: 0;
    padding-bottom: 25px;
    border: none;
    border-bottom: 3px solid #710707;
  }
  .contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;

    .info {
      h3 {
        margin-top: 0;
        margin-bottom: 51px;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0;
      }
      p {
        margin-bottom: 25px;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0;
      }
    }
  }
}
