.tickets {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: black;

  h2 {
    margin-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 75px;
    color: #9d8665;
    border-bottom: 3px solid #710707;
  }

  label {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0;
  }

  .tickets-choice {
    display: flex;

    h3 {
      margin-top: 0;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0px;
    }

    .tickets-type {
      max-width: 270px;
      margin-left: 60px;
      margin-right: 240px;

      h3 {
        margin-bottom: 51px;
      }

      label {
        display: inline-block;
        position: relative;
        margin-bottom: 25px;

        &:hover {
          cursor: pointer;
        }

        span {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: relative;
          border: 2px solid black;
          border-radius: 50%;
          margin-top: 3px;
          margin-right: 23px;
        }

        input[type="radio"] {
          display: none;

          &:checked + span:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 7px;
            height: 7px;
            background-color: black;
            border-radius: 50%;
            z-index: 2;
          }
        }
      }
    }
    .tickets-amount {
      max-width: 150px;

      h3:first-child {
        float: right;
        margin-bottom: 26px;
      }
      input[type="number"] {
        width: 150px;
        height: 50px;
        border: 3px solid black;
        margin: 14px 0 11px;
        font-size: 22px;
        line-height: 26px;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
        }
      }
      .amount18,
      .amount65 {
        position: relative;
      }
      .amount-button {
        position: absolute;
        border: none;
        background-color: #fff;
        font-size: 30px;
        font-weight: bolder;
        text-align: justify;

        &:hover {
          cursor: pointer;
        }
      }
      .amount18-left {
        top: 106px;
        left: 8px;
      }
      .amount18-right {
        top: 106px;
        right: 7px;
      }
      .amount65-left {
        top: 48px;
        left: 8px;
      }
      .amount65-right {
        top: 48px;
        right: 7px;
      }
    }

    .tickets-cost {
      margin-top: 39px;
      margin-bottom: 60px;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 1.65px;

      span {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 1.65px;
      }
    }
    & input[type="button"] {
      margin-left: -25px;
      padding: 13px 38px;
      border: none;
      border-radius: 3px;
      color: #fff;
      background-color: black;

      &:hover {
        color: black;
        background: #9d8665;
      }
    }
  }

  .buy {
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    .overlay {
      background-color: lightgray;
      width: 100%;
      min-height: 100%;
      opacity: 0.2;
      z-index: 4;
    }
    .buy-tickets {
      width: 100%;

      .form {
        position: relative;
        max-width: 400px;
        .buylogo {
          display: block;
          width: 85px;
          height: 45px;
          mask-image: url("../assets/svg/logo.svg");
          mask-size: 100%;
          background-color: #9d8665;
        }
        h2 {
          white-space: nowrap;
          margin: 0 0 15px;
          padding-bottom: 45px;
          font-size: 50px;
          line-height: 55px;
          text-transform: uppercase;
          letter-spacing: 0;
        }
        .buy-head p {
          position: absolute;
          top: 96px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #710707;
          letter-spacing: 0;
        }

        .buy-form {
          margin-top: 60px;
          .buy-form_all {
            position: relative;
            border: 1px solid black;
            height: 45px;
            margin-bottom: 20px;

            &::-webkit-datetime-edit {
              display: none;
            }
            &::-webkit-calendar-picker-indicator {
              opacity: 0;
            }
          }
          .buy-form_50 {
            width: 190px;

            &:first-child {
              margin-right: 12.65px;
            }
          }
          .buy-form_100 {
            width: 100%;
          }
          #input-date[placeholder] {
            color: black;
          }
          #input-date:before {
            content: "";
            position: absolute;
            left: 17px;
            top: 14px;
            width: 13px;
            height: 15px;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            background-image: url("../assets/svg/date.svg");

            &::after {
              content: "Date";
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  .buy-tickets {
  }
}
.paralax {
  width: 100%;
  min-height: 400px;
  margin-top: 75px;
  margin-bottom: 75px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/img/parallax.jpg");
}

@media (max-width: 1024px) {
  .tickets {
    h2 {
      margin-top: 53px;
      padding-bottom: 12px;
      margin-bottom: 60px;
    }

    .tickets-choice {
      min-height: 440px;
      img {
        display: none;
      }

      .img-cont {
        display: block;
        min-width: 700px;
        max-height: 440px;
        background-image: url("../assets/img/Rectangle.png");
        background-repeat: no-repeat;
        background-position: -10px -55px;
      }

      .tickets-type {
        display: none;
      }
      .tickets-amount {
        max-width: 175px;
        margin-left: 80px;

        h3:first-child {
          float: left;
          margin-bottom: 30px;
        }
        label {
          position: absolute;
        }
        input[type="number"] {
          width: 175px;
          margin: 35px 0 30px;
        }
        .amount18-left {
          top: 105px;
          left: 8px;
        }
        .amount18-right {
          top: 105px;
          right: 10px;
        }
        .amount65-left {
          top: 42px;
          left: 8px;
        }
        .amount65-right {
          top: 42px;
          right: 10px;
        }
      }

      .tickets-cost {
        margin-top: -5px;
        margin-bottom: 67px;
        .tickets-cost_change {
          margin-left: 16px;
        }
      }
      & input[type="button"] {
        margin-left: 0px;
      }
    }

    .buy {
      position: fixed;
      top: 0;
      left: 0;
      display: none;

      .overlay {
        background-color: lightgray;
        width: 100%;
        min-height: 100%;
        opacity: 0.2;
        z-index: 4;
      }
      .buy-tickets {
        width: 100%;

        .form {
          position: relative;
          max-width: 400px;
          .buylogo {
            display: block;
            width: 85px;
            height: 45px;
            mask-image: url("../assets/svg/logo.svg");
            mask-size: 100%;
            background-color: #9d8665;
          }
          h2 {
            white-space: nowrap;
            margin: 0 0 15px;
            padding-bottom: 45px;
            font-size: 50px;
            line-height: 55px;
            text-transform: uppercase;
            letter-spacing: 0;
          }
          .buy-head p {
            position: absolute;
            top: 96px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #710707;
            letter-spacing: 0;
          }

          .buy-form {
            margin-top: 60px;
            .buy-form_all {
              position: relative;
              border: 1px solid black;
              height: 45px;
              margin-bottom: 20px;

              &::-webkit-datetime-edit {
                display: none;
              }
              &::-webkit-calendar-picker-indicator {
                opacity: 0;
              }
            }
            .buy-form_50 {
              width: 190px;

              &:first-child {
                margin-right: 12.65px;
              }
            }
            .buy-form_100 {
              width: 100%;
            }
            #input-date[placeholder] {
              color: black;
            }
            #input-date:before {
              content: "";
              position: absolute;
              left: 17px;
              top: 14px;
              width: 13px;
              height: 15px;
              font-size: 18px;
              line-height: 21px;
              text-align: center;
              background-image: url("../assets/svg/date.svg");

              &::after {
                content: "Date";
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }

    .buy-tickets {
    }
  }

  .paralax {
    margin-top: 60px;
    margin-bottom: 53px;
  }
}
